<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573927375329-ume2slojtiqs96sql6m3446ga5n77fk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573927375329-ume2slojtiqs96sql6m3446ga5n77fk2</string>
	<key>API_KEY</key>
	<string>AIzaSyDKkKEAqVlZPtlisyiCmvkrITL77RbtC-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>573927375329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harshalkhandait.alphatesting</string>
	<key>PROJECT_ID</key>
	<string>remotesignaturesystem</string>
	<key>STORAGE_BUCKET</key>
	<string>remotesignaturesystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:573927375329:ios:4b4db9898b57ab5e6192a0</string>
	<key>DATABASE_URL</key>
	<string>https://remotesignaturesystem.firebaseio.com</string>
</dict>
</plist>
